@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background:#372fd397;
    --font:#71d3f1;
    --font2:#f7efd8;
    --element:#cbeef3;
    --titleBar:#f26a8d;
    --mainPageItem:rgb(167, 93, 93);
    --sideBar:#4b638f;
}

body{
    background-color:var(--background);
    margin:0;
    font-family: 'Raleway';
    color:var(--font);
}

.navDiv{
    display:flex;   
    flex-direction:column;
    justify-content:space-around;
    
}

.sideBar{
    height:100%;
    width:250px;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: var(--sideBar);
    overflow-x:hidden;
    padding-top:60px;
    transition:0.5s;
    transform: translateX(-250px);
    z-index:10;
    right:0;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);

}

.sideBar a{
    padding:8px 8px 8px 32px;
    text-decoration:none;
    font-size:25px;
    color: var(--font); /*temp color*/
    display:block;
    transition:0.3s;
    font-family: 'Raleway';

}

.sideBar:hover{
    color:var(--font2); /*tmep color*/
}

.sideBar .closeButton{
    color: var(--font2);
    position:absolute;
    top:0;
    right:25px;
    font-size:36px;
    margin-left:50px;
}

#navOpenButton{
    background-color:var(--element);
    color:#000000;
    font-family: 'Raleway';
    position:absolute;
    margin-left:15px;
    margin-top:15px;
    width:75px;
    height:45px;
    text-align:center;
    line-height:45px;
    border-radius:10px;
    font-size:25px;
    transition:0.5s;
    z-index:2;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.8);

}

#navOpenButton:hover{
    transform: scale(1.1);
}

.open {
    transform: translateX(0px);
}

.links:hover {
    transform: scale(1.15);
    color: var(--font2);
}

.links{
    color:var(--font2);
}

.titleDiv{
    display:flex;
    justify-content:center;
    font-family: 'Raleway';
    text-shadow: 2px 2px #000000;
    background-color: #46536c;
    width:35vw;
    height:100vh;
    float:right;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,1);
}

.logIn {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 25%;
    background-color: #46536c;
    padding: 10px;
    overflow: hidden;
    z-index: -1;
    height: 100%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    height:97.5vh;
}

.logInButtons {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    z-index: 4;
    height: 500px;
    width: 400px;
    color: #00eaff;
    background-color: transparent;
    transition: 0.5s;
}

#logInButton{
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    font-size:25px;
    margin-top:100px;
    width:150px;
    height:50px;
    color:#00eaff;
    background-color: transparent;
    border-radius:5px;
    transition:0.5s;
}

#logInButton:hover{
    color:#71d3f1;
    width:160px;
    height:51px;
    background-color:#4a78b5;
}


::placeholder{
    color:#0ad0e2df;
}

#usernameBox,
#phoneBox{
    border-radius:10px;
    height:15px; 
    width:250px;
    margin:10px;
    padding:10px;
    display:flex;
    align-items:center;
    justify-content: center;
    position:absolute;
    font-size:25px;
    transition:0.5s;
    background-color:transparent;
    color:#00eaff;

}

#usernameBox{
    margin-right:15px;
    margin-top:-200px;
}

#usernameBox:hover,
#phoneBox:hover{
    height:16px;
    width:260px;
}

#phoneBox{
    margin-top:-50px;
    margin-right:15px;
    
}


#logInLabel{
    margin-top:-375px;
    font-size:50px;
}

#title{
    padding:10px;
    margin:10px;
    text-align:center;
    font-size:50px;
    width:750px;
    border-radius:10px;
    height:75px;
    margin-top:250px;
    opacity:1.0;
    z-index:2;
}

#subTitle{
    padding:10px;
    margin:10px;
    font-size:25px;
    margin-top:350px;
    position:absolute;
    opacity:1.0;
    z-index:2;
    text-decoration: none; 
    color:#71d3f1;
    transition:0.5s;
}

#subTitle:hover{
    font-size:27px;
    color:#3c4f68;

}

#nextStepMainPage{
    padding:10px;
    margin:10px;
    font-size:25px;
    margin-top:450px;
    position:absolute;
    opacity:1.0;
    z-index:2; 
}

#img{
    width:70vw;
    height:100vh;
    position:absolute;
    z-index:-1;
    
}

#img2{
    width:75vw;
    height:100vh;
    position:absolute;
    z-index:-1;
    right:0;
}

#img3{
    width:100vw;
    height:100vh;
    position:absolute;
    z-index:-1;
    
}

.output-area {
    width: 26%; 
    height: 548px; 
    padding: 10px; 
    font-size: 16px; 
    color:#00eaff; 
    line-height: 1.5; 
    border: 2px solid #00f2ff; 
    border-radius: 5px;
    resize: vertical; 
    box-sizing: border-box; 
    position: absolute; 
    top: 25vh; 
    left: 0;
    /* transform: translateY(-50%); */
    transition: border-color 0.2s ease-in-out; 
    background-color: #4a78b588;
}

.output-area-title {
    border: 2px solid #00f2ff;
    position: absolute;
    left: 0;
    top: 10vh; 
    width: 24.5%; 
    padding: 10px;
    font-size: 20px; 
    color: #00eaff; 
    background-color: #4a78b588; 
    text-align: left; 
    border-radius: 5px 5px 0 0; 
}

#signUpLink{
    margin:10px;
    padding:10px;
    position:absolute;
    display:flex;
    font-size:20px;
    color:#71d3f1;
    margin-top:500px;

}

#img4{
    width:75vw;
    height:100vh;
    position:absolute;
    z-index:-1;
    right:0;
}


.signUpThings{
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    width: 25%;
    background-color: #46536c;
    padding: 10px;
    overflow: hidden;
    z-index: -1;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    height:97.5vh;
}

.signUpTitle{
    position:absolute;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top:-450px;
}

.locationInput{
    position:absolute;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top:-175px;
    background-color:transparent;
    border:solid 2px #71d3f1;
    width:390px;
    height:150px;
    border-radius:5px;
}

#locationButton{
    border-radius:5px;
    width:250px;
    height: 50px;
    color:#00eaff;
    margin-left: 60px;
    margin-top:15px;
    background-color:transparent;
    font-size:20px;
    transition:0.5s;
}

#locationButton:hover{
    width:260px;
    height:51px;
    color:#13c7d7;
    background-color:#4a78b5;

}

#currentLocation{
    font-size:15px;
    margin-top:18px;
    margin-left:10px;
}

.ageInput{
    position:absolute;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top:40px;
    background-color:transparent;
    width:390px;
    height:50px;
    border-radius:5px;
    border:solid 2px #71d3f1;
}

#ageSlider{
    margin-left:75px;
    margin-top:10px;
}

.healthInput{
    position:absolute;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top:275px;
    background-color:transparent;
    width:390px;
    height:170px;
    border-radius:5px;
    border:solid 2px #71d3f1;

}

#heartDiseaseCheck,
#thing{
    margin-left:20px;

}

#heartDiseaseCheck{
    height:15px;
    width:15px;
    
}

#thing{
    font-size:18px;
}

#stepLabel{
    margin-left:7px;
}

#dailySteps{
    width:375px;
    margin-left:3px; 
    border-radius:5px;
    height:35px;
    font-size:15px;
    background:transparent;
    color:#00eaff;
}

.infoInput{
    position:absolute;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-top:540px;
    background-color:transparent;
    width:390px;
    height:80px;
    border-radius:5px;
    border:solid 2px #71d3f1;

}

.phoneStuff{
    margin-left:15px;
}

.nameStuff{
    margin-left:15px;
}

#name,
#phoneNum{
    border-radius:5px;
    background-color:#3c4f68;
    color:#00eaff;
}

#name{
    width:300px;
}

#submit{
    margin-top:680px;
    width:250px;
    height:45px;
    color:#00eaff;
    background-color:transparent;
    font-size:25px;
    border: solid 2px #00eaff;
    border-radius:5px;  
    transition:0.5s;
}

#submit:hover{
    width:260px;
    height:46px;
    color:#13c7d7;
    background-color:#4a78b5;

}

.nextPage{
    position:absolute;
    display:flex;
    align-items:center;
    right:0;
    margin-right:10px;
    margin-top:700px;
    background-color:#3c4f68;
    width:500px;
    height:20px;
    border-radius:5px;
    transition:0.5s;
}

.nextPage:hover{
    width:510px;
    height:21px;
    color:#13c7d7;
    background-color:#4a78b5;
}

#toGooglePage{
    text-decoration:none;
    color:#00f2ff;
    margin-left:10px;
    
}

.mapContainer{
    display:flex;
    position:absolute;
    align-items:center;

}

#mapLabel{
    margin-top:100px;
}

#map{
    margin-top:120px;
    margin-left:930px; 
}

.rect{
    display:flex;
    justify-content:center;
    font-family: 'Raleway';
    text-shadow: 2px 2px #000000;
    background-color: #46536c;
    width:40vw;
    height:100vh;
    float:right;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,1);
}

#mapText{
    margin-top:10px;
    text-align:center;
}

.img5{
    width:60vw;
    height:100vh;
    position:absolute;
    z-index:-1;
}

.transparentThing{
    background-color:#46536c;
    z-index:4;
    width:400px;
    height:400px;
    position:absolute;
    border-radius:5px;
    margin:20px;
    opacity:0.5;
    margin-top:150px;
}

#leoLocator{
    position:absolute;
    margin-top:250px;
    margin-left:35px;
    z-index:5;
    width:350px;
}

#findPeople{
    background-color:#3c4f68;
    position:absolute;
    border-radius:5px;
    color:#00eaff;
    margin-top:160px;
    margin-left:25px;
    z-index:6;
    height:37px;
    width:300px;  
    transition:0.5s;  
}

#findPeople:hover{
    height:38px;
    width:310px;
    background-color:#4a78b5;
    color:#00f2ff;

}

